:root {
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;

  --input-border-focus: #275efe;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}

* {
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Mukta Malar', Arial;
  background: #f5f9ff;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  color: var(--group-color);
  text-align: center;
}

h3 {
  color: var(--group-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}
